.board-container {
    position: relative;
    width: 100%;
}

.board-container:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}